@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --accent: #679289;
    --header: #272932; 
  }

header {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    background: var(--header);
}

.head {
    background: var(--header);
}

header h2 {
    font-size: 45px;
    padding: 25px;
    text-align: center;
    color: #FFF;
}

body {
    font-family: 'Indie Flower', cursive;
    background: #E7ECEF;
    text-align: center;
    justify-content: center;
}


body {
    background-image: url("resources/books.png");
    background-size: cover;
    min-height: 900px;
}

.container {
    white-space: pre-line;
    text-align: center
}

.navbar {
    background: var(--accent);
    font-size: 22px;
}

.navbar-brand a {
    font-size: 22px;
}

.img-link {
    padding: 25px;
}


.poetry {
    font-size: 16px;
    padding: 25px;
}

#footer {
    color: #000;
    font-size: 16px;
    text-align: center;
    justify-content: center; 
}

.navbar p a {
    color: #FFF;
    text-decoration: none;
}

.upload {
    text-align: center;
    padding: 25px;
}

.btn {
    margin: 25px;
    padding: 5px 5px 5px 5px;

}

.navbar a {
    color: #FFF;
}

#url {
    text-align: center;
    width: 30%;
}
