<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MAIS Hacks 2021</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="head">
            <header>
                <h2>LSTM Poem Generator</h2>
            </header>
            
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <!-- <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">  insert picture link HOW -->
                        Generate a poem!
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('who') }}">Who we are</a>
                        </li>
                        </ul>
                  </div>
                </div>
            </nav>
        </div>
        
        <div class="container img-link">
            <form action="/generate" method="post" class="jumbotron">
                <div class="form-group blue-border-focus">
                    <label><b>Link</b></label>
                    <input name="input" type="text" class="form-control" placeholder="https://google.com/image">
                    <small class="form-text">Paste a link to an image.</small>
                </div>
                <button type="submit" class="btn btn-default btn-dark">Submit</button>
            </form>
        </div>
        <br>
        
        <nav class="navbar fixed-bottom navbar-expand-sm">
            <p id="footer">
                Created by
                <a href="https://github.com/nredick">Nathalie</a>,
                <a href="https://github.com/elinorpd">Elinor</a>,
                <a href="https://github.com/allu5662">Alex</a>, &
                <a href="https://github.com/croissantfriend">Zahur</a>. October 2021.
            </p>
        </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
